*.sw*
*session.vim.lock
*.vim.lock
*.*.local
.netrwhist
zeus.json
custom_plan.rb
.notes

.vim/bundle/*
.s3config
.s3cfg

.vim/sessions/*
.DS_STORE

sherwinotes
tags$

vim-lib/plugged

vim-lib/sessions
