45 22  * * 0-4 ifconfig en0 down
50 22  * * 0-4 ifconfig en0 down
55 22  * * 0-4 ifconfig en0 down
00 23  * * 0-4 ifconfig en0 down
05 23  * * 0-4 ifconfig en0 down
10 23  * * 0-4 ifconfig en0 down
15 23  * * 0-4 ifconfig en0 down
20 23  * * 0-4 ifconfig en0 down
25 23  * * 0-4 ifconfig en0 down
30 23  * * 0-4 ifconfig en0 down
35 23  * * 0-4 ifconfig en0 down
40 23  * * 0-4 ifconfig en0 down
45 23  * * 0-4 ifconfig en0 down
50 23  * * 0-4 ifconfig en0 down
55 23  * * 0-4 ifconfig en0 down

00 00  * * 1-5 ifconfig en0 down
05 00  * * 1-5 ifconfig en0 down
10 00  * * 1-5 ifconfig en0 down
15 00  * * 1-5 ifconfig en0 down
20 00  * * 1-5 ifconfig en0 down
25 00  * * 1-5 ifconfig en0 down
30 00  * * 1-5 ifconfig en0 down
35 00  * * 1-5 ifconfig en0 down
40 00  * * 1-5 ifconfig en0 down
45 00  * * 1-5 ifconfig en0 down
50 00  * * 1-5 ifconfig en0 down
55 00  * * 1-5 ifconfig en0 down

00 01  * * 1-5 ifconfig en0 down
05 01  * * 1-5 ifconfig en0 down
10 01  * * 1-5 ifconfig en0 down
15 01  * * 1-5 ifconfig en0 down
20 01  * * 1-5 ifconfig en0 down
25 01  * * 1-5 ifconfig en0 down
30 01  * * 1-5 ifconfig en0 down
35 01  * * 1-5 ifconfig en0 down
40 01  * * 1-5 ifconfig en0 down
45 01  * * 1-5 ifconfig en0 down
50 01  * * 1-5 ifconfig en0 down
55 01  * * 1-5 ifconfig en0 down

00 02  * * 1-5 ifconfig en0 down
05 02  * * 1-5 ifconfig en0 down
10 02  * * 1-5 ifconfig en0 down
15 02  * * 1-5 ifconfig en0 down
20 02  * * 1-5 ifconfig en0 down
25 02  * * 1-5 ifconfig en0 down
30 02  * * 1-5 ifconfig en0 down
35 02  * * 1-5 ifconfig en0 down
40 02  * * 1-5 ifconfig en0 down
45 02  * * 1-5 ifconfig en0 down
50 02  * * 1-5 ifconfig en0 down
55 02  * * 1-5 ifconfig en0 down

00 03  * * 1-5 ifconfig en0 down
05 03  * * 1-5 ifconfig en0 down
10 03  * * 1-5 ifconfig en0 down
15 03  * * 1-5 ifconfig en0 down
20 03  * * 1-5 ifconfig en0 down
25 03  * * 1-5 ifconfig en0 down
30 03  * * 1-5 ifconfig en0 down
35 03  * * 1-5 ifconfig en0 down
40 03  * * 1-5 ifconfig en0 down
45 03  * * 1-5 ifconfig en0 down
50 03  * * 1-5 ifconfig en0 down
55 03  * * 1-5 ifconfig en0 down
