45 22  * * 0-4 /sbin/ifconfig en0 down
50 22  * * 0-4 /sbin/ifconfig en0 down
55 22  * * 0-4 /sbin/ifconfig en0 down
*/5 23  * * 0-4 /sbin/ifconfig en0 down; say 'Go to bed'
*/5 0  * * 1-5 /sbin/ifconfig en0 down; say 'Go to bed'
*/5 1  * * 1-5 /sbin/ifconfig en0 down; say 'Go to bed'
*/5 2  * * 1-5 /sbin/ifconfig en0 down; say 'Go to bed'
